<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('bundles/tekkieplay/css/demo.css') }}" type="text/css" media="all" />
        <title>{% block title %}Layout | TekkiePlayBundle{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link href='http://fonts.googleapis.com/css?family=Monofett|Lobster+Two&v2' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="wrapper">
            <div id="page-header">
                <a href="{{ path('_simple') }}">
                    <h2 class="logo">Just in Time</h2>
                </a>
                <form id="symfony-search" method="GET" action="http://symfony.com/search">
                    <label for="symfony-search-field"><span>Search on Symfony Website</span></label>
                    <input name="q" id="symfony-search-field" type="search" placeholder="Search on Symfony website" class="medium_txt">
                    <input type="submit" class="symfony-button-grey" value="OK" />
                </form>
            </div>

            {% if app.session.flash('notice') %}
                <div class="flash-message">
                    <em>Notice</em>: {{ app.session.flash('notice') }}
                </div>
            {% endif %}

            {% block content_header %}
                <ul id="menu">
                    {% block content_header_more %}
                        <li><a href="{{ path('_demo') }}">Demo Home</a></li>
                    {% endblock %}
                </ul>

                <div style="clear: both"></div>
            {% endblock %}

            <div class="page-content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
